<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="expression.type" value="Seovic.Coherence.Core.Expression.MvelExpression, Coherence.Commons"/> <!-- TBD-->
    <add key="extractor.type"  value="Seovic.Coherence.Core.Extractor.ExpressionExtractor, Coherence.Commons"/>
    <add key="updater.type"    value="Seovic.Coherence.Core.Updater.ExpressionUpdater, Coherence.Commons"/>
    <add key="condition.type"  value="Seovic.Coherence.Core.Condition.ExpressionCondition, Coherence.Commons"/>
    <add key="script.language" value="javascript"/>
  </appSettings>
</configuration>