<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="coherence" type="Tangosol.Config.CoherenceConfigHandler, Coherence" />
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="ALL" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <coherence>
    <cache-config>assembly://Coherence.Tools.Tests/Seovic.Resources/coh-tools-cache-config.xml</cache-config>
    <pof-config>assembly://Coherence.Tools.Tests/Seovic.Resources/coh-tools-pof-config.xml</pof-config>
  </coherence>
  <appSettings>
    <add key="expression.type" value="Seovic.Core.Expression.SpelExpression, Coherence.Tools" />
    <add key="extractor.type" value="Seovic.Core.Extractor.ExpressionExtractor, Coherence.Tools" />
    <add key="updater.type" value="Seovic.Core.Updater.ExpressionUpdater, Coherence.Tools" />
    <add key="condition.type" value="Seovic.Core.Condition.ExpressionCondition, Coherence.Tools" />
    <add key="script.language" value="javascript" />
  </appSettings>
</configuration>