<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="expression.type" value="todo"/>
    <add key="extractor.type"  value="todo"/>
    <add key="updater.type"    value="todo"/>
    <add key="condition.type"  value="todo"/>
    <add key="script.language" value="javascript"/>
  </appSettings>
</configuration>