<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="expression.type" value="Seovic.Coherence.Core.Expression.SpelExpression, Coherence.Tools" />
    <!-- TBD-->
    <add key="extractor.type" value="Seovic.Coherence.Core.Extractor.ExpressionExtractor, Coherence.Tools" />
    <add key="updater.type" value="Seovic.Coherence.Core.Updater.ExpressionUpdater, Coherence.Tools" />
    <add key="condition.type" value="Seovic.Coherence.Core.Condition.ExpressionCondition, Coherence.Tools" />
    <add key="script.language" value="javascript" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>