<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="coherence" type="Tangosol.Config.CoherenceConfigHandler, Coherence"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="ALL" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <coherence>
    <cache-config>assembly://Coherence.Commons.Tests/Seovic.Coherence.Resources/coh-tools-cache-config.xml</cache-config>
    <pof-config>assembly://Coherence.Commons.Tests/Seovic.Coherence.Resources/coh-tools-pof-config.xml</pof-config>
    <!--<cache-factory-config>assembly://Coherence.Commons.Tests/Seovic.Coherence.Resources/coh-tools-coherence.xml</cache-factory-config>-->
  </coherence>
  <appSettings>
    <add key="expression.type" value="Seovic.Coherence.Core.Expression.SpelExpression, Coherence.Commons"/>
    <add key="extractor.type"  value="Seovic.Coherence.Core.Extractor.ExpressionExtractor, Coherence.Commons"/>
    <add key="updater.type"    value="Seovic.Coherence.Core.Updater.ExpressionUpdater, Coherence.Commons"/>
    <add key="condition.type"  value="Seovic.Coherence.Core.Condition.ExpressionCondition, Coherence.Commons"/>
    <add key="script.language" value="javascript"/>
  </appSettings>
</configuration>